# ===== 管理员 =====
ADMIN_PASSWORD=

# ===== 数据库 =====
DATABASE_ID=

# ===== 加密 =====
ENCRYPTION_KEY=

# ===== Backblaze B2 对象存储 =====
B2_BUCKET_NAME=
B2_ACCESS_KEY_ID=
B2_SECRET_ACCESS_KEY=

# ===== 邮件服务 =====
MAIL_PROVIDER_API_KEY=
